@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:500,700');
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/select/lib/css/blueprint-select.css';

@import '~@blueprintjs/core/src/blueprint.scss';

@import 'grid';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: $light-gray2;
}

.responsive-image {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.common-toolbar {
  display: flex;
  justify-content: space-between;
}

.code-text {
  font-weight: bold;
}

@import 'navbar';
@import 'multiSelectMenu';